@model Mosdong.Models.ViewModels.ProductItemViewModel
@using Mosdong.Extensions

@{
    ViewData["Title"] = "상품 아이템 추가";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="border backgroundWhite">
        <input type="hidden" asp-for="ProductItem.Id" />
        <div class="row">
            <div class="col-12">
                <h2 class="text-info">상품 아이템 추가</h2><br />
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ProductItem.Name" class="col-form-label"></label>
            </div>
            <div class="col-9">
                <input asp-for="ProductItem.Name" class="form-control text-left" style="width:300px">
                <span asp-validation-for="ProductItem.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ProductItem.CategoryId" class="col-form-label"></label>
            </div>
            <div class="col-9">
                <select asp-for="@Model.ProductItem.CategoryId" id="CategoryId" asp-items="@(new SelectList(@ViewBag.ListofCategory,"Id","Name"))" class="form-control" style="width:300px"></select>
                <span asp-validation-for="ProductItem.CategoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ProductItem.SubCategoryId" class="col-form-label"></label>
            </div>
            <div class="col-9">
                <select asp-for="@Model.ProductItem.SubCategoryId" name="SubCategoryId" id="SubCategoryId" asp-items="@(new SelectList(string.Empty,"Id","Name"))" class="form-control" style="width:300px"></select>

            </div>
            <span asp-validation-for="ProductItem.SubCategoryId" class="text-danger"></span>
        </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="ProductItem.MiniCategoryId" class="col-form-label"></label>
                </div>
                <div class="col-9">
                    <select asp-for="@Model.ProductItem.MiniCategoryId" name="MiniCategoryId" id="MiniCategoryId" asp-items="@(new SelectList(string.Empty,"Id","Name"))" class="form-control" style="width:300px"></select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="ProductItem.Price" class="col-form-label"></label>
                </div>
                <div class="col-9 form-inline">
                    <input asp-for="ProductItem.Price" class="form-control text-left" style="width:120px" aria-describedby="priceUnitInline">
                    <span id="priceUnitInline" class="text-muted">&nbsp;루블</span> &nbsp;
                    <span asp-validation-for="ProductItem.Price" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="ProductItem.SalePrice" class="col-form-label"></label>
                </div>
                <div class="col-9 form-inline">
                    <input type="text" id="SalePrice" asp-for="ProductItem.SalePrice" class="form-control text-left" style="width:120px" aria-describedby="priceUnitInline">
                    <div id="priceUnitInline" class="text-muted form-inline">
                        <text>&nbsp;루블&nbsp;</text>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="IsNotOnSale">
                            <label class="form-check-label" for="IsNotOnSale">
                                할인행사 없음
                            </label>
                        </div>
                    </div>
                    <span asp-validation-for="ProductItem.SalePrice" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="ProductItem.ProductUnit" class="col-form-label"></label>
                </div>
                <div class="col-9 form-inline">
                    <input asp-for="ProductItem.ProductUnitQuantity" class="form-control text-left" style="width:120px" aria-describedby="ProductUnitInline" />
                    <span id="ProductUnitInline" class="text-muted">
                        &nbsp;
                        <select asp-for="ProductItem.ProductUnit" asp-items="Html.GetEnumSelectList<ProductItemModel.EProductUnit>()" class="form-control-sm"></select>
                    </span>
                    &nbsp;
                    <span asp-validation-for="ProductItem.ProductUnitQuantity" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="ProductItem.StockAvailabilityNum" class="col-form-label"></label>
                </div>
                <div class="col-9 form-inline">
                    <input type="text" id="StockAvailabilityNum" asp-for="ProductItem.StockAvailabilityNum" class="form-control text-left" style="width:120px" aria-describedby="StockAvailabilityNumInline" />

                    <span id="StockAvailabilityNumInline" class="form-check-inline">
                        &nbsp;
                        <input asp-for="ProductItem.IsStockUnlimited" class="form-check-input" type="checkbox" id="IsStockUnlimited">
                        <label class="form-check-label" for="IsStockUnlimited">
                            재고수량 제한없음
                        </label>
                    </span>
                    <span asp-validation-for="ProductItem.StockAvailabilityNum" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="ProductItem.StockAvailability" class="col-form-label"></label>
                </div>
                <div class="col-9">
                    <select asp-for="ProductItem.StockAvailability" asp-items="Html.GetEnumSelectList<ProductItemModel.EStockStatus>()" class="form-control" style="width:120px"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="ProductItem.ProductAd" class="col-form-label"></label>
                </div>
                <div class="col-9">
                    <select asp-for="ProductItem.ProductAd" asp-items="Html.GetEnumSelectList<ProductItemModel.EProductAd>()" class="form-control" style="width:120px"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="ProductItem.IsNotVisible" class="col-form-label"></label>
                </div>
                <div class="col-9">
                    <select asp-for="ProductItem.IsNotVisible" class="form-control" style="width:140px">
                        <option value="False">상품 보이기</option>
                        <option value="True">상품 가리기</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="ProductItem.Image" class="col-form-label"></label>
                </div>
                <div class="col-9">
                    <input type="file" name="files" multiple class="form-control-file" style="padding: 3px" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="ProductItem.Description" class="col-form-label"></label>
                </div>
                <div class="col-9">
                    @Html.TextAreaFor(m => m.ProductItem.Description)
                </div>
                <span asp-validation-for="ProductItem.Description" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-9 offset-3">
                    <div class="row">
                        <partial name="_CreateAndBackToListButton" />
                    </div>
                </div>
            </div>
        </div>

</form>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var items = "<option value='0'>Select</option>";
            $('#SubCategoryId').html(items);
            $('#MiniCategoryId').html(items);
        });

        $('#CategoryId').change(function () {
            var url = '@Url.Content("~/")' + "Admin/SubCategory/GetSubCategory";
            var ddlsource = "#CategoryId";
            $.getJSON(url, { CategoryId: $(ddlsource).val() }, function (data) {
                var items = '';
                $('#SubCategoryId').empty();
                $.each(data, function (i, subCategories) {
                    items += "<option value = '" + subCategories.value + "'>" + subCategories.text + "</option>";
                });

                $('#SubCategoryId').html(items);

            });
        });

        $('#SubCategoryId').change(function () {
            var url = '@Url.Content("~/")' + "Admin/MiniCategory/GetMiniCategory";
            var ddlsource = "#SubCategoryId";
            $.getJSON(url, { SubCategoryId: $(ddlsource).val() }, function (data) {
                var items = '';
                $('#MiniCategoryId').empty();
                $.each(data, function (i, miniCategories) {
                    items += "<option value = '" + miniCategories.value + "'>" + miniCategories.text + "</option>";
                });

                $('#MiniCategoryId').html(items);

            });
        });

    </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}



    <script>

        $('#IsNotOnSale').change(function () {
            if (this.checked) {
                $('#SalePrice').prop('disabled', true);
                $('#SalePrice').val('0');
            } else {
                $('#SalePrice').prop('disabled', false);
            }
        });
    </script>

    <script>
        $('#IsStockUnlimited').change(function () {
            if (this.checked) {
                $('#StockAvailabilityNum').prop('disabled', true);
                $('#StockAvailabilityNum').val('0');
                $('#IsStockUnlimited').val('true');
            } else {
                $('#StockAvailabilityNum').prop('disabled', false);
            }
        });
    </script>
}