@model IEnumerable<ProductItemModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">상품 목록</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButton" />
        </div>
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {

            <table id="admin_product_table" class="display">
                <thead>
                    <tr class="table-dark">
                        <th>
                            @Html.DisplayNameFor(m => m.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.CategoryId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.SubCategoryId)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Category.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.SubCategory.Name)
                            </td>
                            <partial name="_EditAndDeleteButton" model="item.Id" />
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.Name)</td>
                        <td>@Html.DisplayNameFor(m => m.Price)</td>
                        <td>@Html.DisplayNameFor(m => m.CategoryId)</td>
                        <td>@Html.DisplayNameFor(m => m.SubCategoryId)</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        }
        else
        {
            <p>상품 리스트가 존재하지 않습니다. 상단의 버튼을 누르고 추가하세요.</p>
        }
    </div>
</div>




